name: Test Deploy

on:
  push:
    branches:
      - 'dev'

jobs: 
  deploy-to-aws:
    runs-on: ubuntu-latest
    needs: ["run-test-python"]
    steps:
      - name: Deploy
        run: |
          echo Deploy with serverless

  send-slack-message:
    runs-on: ubuntu-latest
    needs: ["deploy-to-aws"]
    steps:
      - name: send a slack message
        uses: docker://technosophos/slack-notify
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'Ready to merge'
       
       