name: Test Actions Workflow With Python

on: ['push']

jobs:
  run-test-action:
    runs-on: ubuntu-latest
    steps:
      - name: test action
        run: echo Hola Mundo!
  
  # python3-docker:
  #   runs-on: ubuntu-latest
  #   container:
  #     image: python:3.9.0a3-alpine3.10
  #   steps:
  #     - name: Python version
  #       run: |
  #         from datetime import datetime
  #         print(datetime.now())
    

  run-test-python:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v1
     - name: Test checkout
       run: |
          from datetime import datetime
          print(datetime.now())
       shell: python

     - name: Test file
       run: |
          python stack_project_1/services/project_1/lambda_1/test_name_function.py
  
  send-slack-message:
    runs-on: ubuntu-latest
    needs: ["run-test-python"]
    steps:
      - name: send a slack message
        uses: docker://technosophos/slack-notify
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'Test passed'
       
       