name: Test Actions Workflow With Python

on: ['push']

jobs:
  run-test-action:
    runs-on: ubuntu-latest
    steps:
      - name: test action
        run: echo Hola Mundo!
  
  run-test-python:
   runs-on: ubuntu-latest
   steps:
     - name: test python       
       run: |
         echo Holi